<div class="transaction__detail">
  <div class="transaction__detail">

  <table class="transaction__detail">
    <tr class="title_row">
      <th>ID</th>
      <th>Recipient</th>
      <th>Sender</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
    <tr class="detail_row">
      <td>{{$ctrl.transaction.id}}</td>
      <td>{{$ctrl.transaction.recipient}}</td>
      <td>{{$ctrl.transaction.sender}}</td>
      <td>{{$ctrl.transaction.amount}}</td>
      <td>{{$ctrl.transaction.date}}</td>
      <td ng-show="!transaction.status">{{$ctrl.transaction.status}}</td>
      <td ng-show="transaction.status">{{transaction.status}}</td>
    </tr>
  </table>
  <div class="status__update">
      <label for="statusUpdate"> Update status </label>
        <select class="special__select" name="statusUpdate" ng-model="transaction.status"> 
          <option value="sent">Sent</option>
          <option value="received">Received</option>
          <option value="cancelled">Cancelled</option>
          <option value="failed">Failed</option>
        </select> 
      </div>
  <button class="detail__close" ui-sref="home.transactions-list">Close</button>
</div>
</div>
